<p id="notice"><%= notice %></p>
<%= render "layouts/header" %>
<div>
<form action="/search">
  <input name="q" type="text" placeholder="Search" aria-label="Search">
  <button type="submit">Search</button>
</form>
</div>
<div style = "text-align:right">
<%= link_to 'Edit User', edit_member_path(@member) %>
<br>
<td><%= link_to 'Remove User', @member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>


<p>
  <strong>Website:</strong>
  <%= @member.website %>
</p>

<p>
  <strong>Short Url:</strong>
  <%= @member.short %>
</p>
<br>
<p>
  <strong>Topics:</strong>
  <%= @member.headings %>
</p>
<br>


<h2>Friends</h2>
<ul>
  <% current = @member %>
  <% @member.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %>
      <%= link_to "remove", friendship_url(:member => current,:friendship => friendship), :method => :delete %>
    </li>
  <% end %>
</ul>


<br>

<h2>Add New Friends</h2>
  <p>
    <%users = Member.all %>
    <% current = @member %>
    <% @current_user = current %>
    <% users.each do |user| %>
      <% if (user.name != @member.name && !(@member.friends.all.map(&:name).include?(user.name))) %>
        <%= user.name %>
        <%= link_to "Add Friend", friendships_path(:friend_id => user , :member => current), :method => :post %>
      <% end %>
    <% end %>
  </p>

<br>
